@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Handlee);
body, input {
  font-family: 'Handlee', cursive;
  color: teal;
  font-size: 14px;
}
h1, h2, h3, h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 38px;
}
input {
  outline: none;
  padding: 2px 5px;
  border: solid 1px teal;
  margin: 5px;
  border-radius: 2px;
  color: #555555;
  background: #dedede;
}
input:active, input:focus {
  /*border: solid 1px #c69c6d;*/
}
.error {
    color: red;
}
.success {
  color: green;
}
